<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
</head>
<body>
  <div class="mermaid">
    {{ .output }}
  </div>
  <script src="{{ .src }}">
  </script>
  <script>
    mermaid.initialize({startOnLoad:true});
  </script>
</body>
</html>